<html>
<head>
    <title>Sinner Detail</title>
    <style>
        body {
            background-color: #29201F;
            color: white;
            text-align: center;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .banner {
            background-color: #b01c37;
            padding: 20px 0;
            font-size: 2em;
            font-weight: bold;
            letter-spacing: 2px;
        }
        a { color: #fff; }
        table { margin: 0 auto; color: white; }
        th, td { padding: 8px; }
    </style>
</head>
<body>
    <div class="banner">Limbus Database</div>
    <h1>{{ sinner.sinner_name }}</h1>
    <p><b>Gender:</b> {{ sinner.gender }}</p>
    <p><b>Height:</b> {{ sinner.height }}</p>
    <p><b>Birthday:</b> {{ sinner.birthday }}</p>
    <p><b>District:</b> {{ sinner.native_district }}</p>
    <p><b>Color:</b> {{ sinner.color }}</p>
    <p><b>Literary Source:</b> {{ sinner.literary_source }}</p>
    <hr>
    <h2>Identities</h2>
    <table border="1">
    <tr>
        <th>Name</th>
        <th>Rarity</th>
        <th>Season</th>
    </tr>
    {% for i in identities %}
    <tr>
        <td>
            <a href="/identity/{{ i.identity_id }}">
                {{ i.identity_name }}
            </a>
        </td>
        <td>{{ i.rarity }}</td>
        <td>{{ i.season_released }}</td>
    </tr>
    {% endfor %}
    </table>
    <hr>
    <h2>EGOs</h2>
    <table border="1">
    <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Season</th>
</tr>

{% for e in egos %}
<tr>
    <td>
        <a href="/egos/{{ e.ego_id }}">
            {{ e.ego_name }}
        </a>
    </td>
    <td>{{ e.class }}</td>
    <td>{{ e.season_released }}</td>
</tr>
{% endfor %}
</table>

<br>
{% include 'nav_buttons.html' %}